In [1]:
import json

In [2]:
def count_each_group(keys, reason):
    count = 0
    for key in keys:
        n = reason.lower().count(key.lower())
        if n>0:
            count += n;
    return count

In [111]:
def count_result(groupKeys, reason):
    count = 0;
    newG = 0;

    for idx, group in enumerate(groupKeys):
    
        c = count_each_group(group, reason)
        
        if c > 0 and idx == 8:
            return int(8)
        elif c > count and idx > 0:
            count = c;
            newG = idx
    return int(newG)

In [16]:
def get_keyword_list(keys, reason):
    li=[];

        
    for key in keys:
        if key.lower() in reason.lower():
            li.append(key)
    
    if len(li) == 0:
        li.append(keys[0])
        
    return li

In [66]:
[84, 317, 494, 748, 204, 24, 133, 10, 0, 0]

new_groupList = [
    [''],
    ['music', 'jazz', 'band', 'album', 'latin', 'singer', 'art', 'arts' ,'culture', 'cultural', 'musicians', 'cuba'],
    ['tuskegee','Airmen', 'squadron', 'fighter', 'aircraft', '1943', 'pilot', 'world war II', 'Iraq', 'korean',
     'war', 'army', 'infantry', 'killed', 'combat', 'medal', 'bronze', 'duty', 'nypd', 'police'],
    ['women', 'Ms', 'education', 'children', 'worked', 'council', 'board', 'school','committee'],
    ['customers', 'family', 'business', 'immigrants', 'immigration', 'community'],
    ["baptist", 'church', 'pastor', 'reverend', 'bishop','ministry', 'churches', 'bible', 'god', 'congregation'],
    ['health', 'public', "civic",'nq', 'UHP', 'primary care', 'gay', 'development', 'activists', 'hospitals', 'HIV', 'AIDS', 'HIV/AIDS', "COVID-19"],
    ['section', 'law', 'amend', 'map', 'rename', 'accordingly', 'called', 'repeals', 'corresponds', '2004'],
]

In [62]:
# Opening JSON file
f = open('data_except_911.json')
 
# returns JSON object as
# a dictionary
data_else = json.load(f)

In [67]:
data_else_group = data_else;

for obj in data_else_group:
    
    idx = count_result(new_groupList, obj["reason"] )
    
    li = get_keyword_list( new_groupList[idx] , obj["reason"] )
    
    obj["group"] = idx;
    obj["keywords"] = li;

In [68]:
count = [0,0 , 0,0 , 0,0 , 0, 0, 0,0]

for d in data_else_group:
    count[d["group"]] += 1;

In [69]:
count

[50, 346, 511, 634, 229, 139, 58, 47, 0, 0]

In [70]:
with open("data_else_regroup.json", "w") as outfile:
    json.dump(data_else_group, outfile)

# Import 911

In [96]:
# Opening JSON file
f = open('data_911_update.json')
 
# returns JSON object as
# a dictionary
data_911_update = json.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'data_911_update.json'

In [73]:
for d in data_911_update:
    d["group"] = 8;
    d["keywords"] = ["9/11"]

# Merge

In [74]:
data_refine = data_911_update + data_else_group

In [75]:
for d in data_refine:
    d["group"] = d["group"] - 1;

In [76]:
count = [0,0 , 0,0 , 0,0 , 0, 0, 0,0]

for d in data_refine:
    count[d["group"]] += 1;

print(count)

[346, 511, 634, 229, 139, 58, 47, 497, 0, 50]

In [77]:
with open("data_refine.json", "w") as outfile:
    json.dump(data_refine, outfile)

# Merge Group

In [106]:
# Opening JSON file
f = open('mydata_manual.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

In [108]:
new_groupList = [
    [''],
    ['music', 'jazz', 'band', 'album', 'latin', 'singer', 'art', 'arts' ,'culture', 'cultural', 'musicians', 'cuba'],
    ['tuskegee','Airmen', 'squadron', 'fighter', 'aircraft', '1943', 'pilot', 'world war II', 'Iraq', 'korean',
     'war', 'army', 'infantry', 'killed', 'combat', 'medal', 'bronze'],
    ['women', 'Ms', 'education', 'children', 'equality', 'school'],
    ['customers', 'family', 'business', 'immigrants', 'immigration', 'community'],
    ["baptist", 'church', 'pastor', 'reverend', 'bishop','ministry', 'churches', 'bible', 'god', 'congregation'],
    ['health', 'public', "civic",'nq', 'UHP', 'primary', 'care', 'gay', 'development', 'activists', 'hospitals', 'HIV', 'AIDS', 'HIV/AIDS', "COVID-19"],
    ['board', 'committee', 'law', 'amend','duty', 'nypd', 'police'],
    ['COVID-19', 'pandemic'],
    ['World Trade Center', 'terrorist attack']
]

In [109]:
new_groupList_for_Keywords = [
    [''],
    ['music', 'jazz', 'band', 'album', 'latin', 'singer', 'art', 'arts' ,'culture', 'musicians', 'cuba'],
    ['tuskegee','Airmen', 'squadron', 'fighter', 'aircraft', '1943', 'pilot', 'world war II', 'Iraq', 'korean',
     'war', 'army', 'infantry', 'combat', 'medal', 'bronze'],
    ['women', 'Ms', 'education', 'children', 'equality', 'school'],
    ['customers', 'family', 'business', 'immigrants', 'immigration', 'community'],
    ["baptist", 'church', 'pastor', 'reverend', 'bishop','ministry', 'churches', 'bible', 'god', 'congregation'],
    ['health', 'public', "civic", 'UHP', 'primary care', 'gay', 'development', 'activists', 'hospitals', 'HIV', 'AIDS', 'HIV/AIDS', "COVID-19"],
    ['killed','duty', 'nypd', 'police'],
    ['COVID-19'],
    ['9/11']
]

In [112]:
data_2 = data;

for obj in data_2:
    
#     911 filter out
    if obj["group"] == 7 or "9/11" in obj["coname"]:
        obj["group"] = 9;
        obj["keywords"] = ["9/11"]
    else:
        
        idx = count_result(new_groupList, obj["reason"] )

        li = get_keyword_list( new_groupList_for_Keywords[idx] , obj["reason"] )

        obj["group"] = idx;
        obj["keywords"] = li;

In [113]:
count = [0,0 , 0,0 , 0,0 , 0, 0, 0,0]

for d in data_2:
    count[d["group"]] += 1;

print(count)

[70, 395, 403, 366, 301, 151, 105, 178, 30, 512]

In [114]:
for d in data_2:
    d["group"] = d["group"] - 1;

In [115]:
with open("data_2.json", "w") as outfile:
    json.dump(data_2, outfile)